<form [formGroup]="form" class="w-50 container mt-3 card">

  <input type="text" class="form-control my-2" formControlName="nombre" placeholder="Nombre">

  <ng-container formArrayName="arreglo" *ngIf="form.get('arreglo')['controls'].length > 0">

    <div class="row mb-2 col-12" *ngFor="let item of form.get('arreglo')['controls']; index as i" [formGroupName]="i">

      <div class="col">
        <input type="text" class="form-control" formControlName="telefono" placeholder="telefono">
      </div>
      
      <div class="col">
        <input type="text" class="form-control" formControlName="correo" placeholder="correo">
      </div>

      <div class="col">
        <button class="btn btn-danger" (click)="borrarGrupo(i)">Borrar</button>
      </div>

    </div>

  </ng-container>

  <button class="btn btn-primary mt-3" (click)="agregarTelefonoCorreo()">Agregar nuevo telefono y correo</button>

</form>